* {
    text-decoration: none;
    color: white;
}
html {
    height: 100%;
}

body {
    background-color:darkgray;
    /*background-image:url(/media/bakgrunn.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
}

header {
    /*background-color:rgba(0, 0, 0, 0.658);*/
    width: 100%;
    height: 80px;
    text-align: center;
}

nav {
    /*background-color:rgba(11, 58, 64, 0.658);*/
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

main {
    /*background-color: rgb(243, 243, 243);*/
    width: 100%;
    height: 600px;
    text-align: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    justify-content: center;
}


h1 {
    color:rgb(11, 58, 64);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

article {
    width: 100%;
    padding-bottom: 100px;
}

.shopbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 120px 0px
}

.shopbutton button {
    text-decoration: none;
    color: white;
    background-color:rgb(11, 58, 64);
    width: 200px;
    padding: 20px;
    border-radius: 10px;
}




header img {
    max-height: 70px;
    margin-top: 10px;
}

.productcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerabout {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
}

.recycle {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.productimage {
    background-color: white;
    width: 250px;
    height: 300px;
    margin-bottom: 20px;
    border: 2px solid rgb(105, 105, 105)
}

figure {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.contactmain {
    display: flex;
    justify-content: center;
}

.contactcontainer {
    background-color: none;
    width: 400px;
    height: 485px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.contactbox {
    background-color: none;
    width: 380px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactbox2 {
    background-color: none;
    width: 380px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.payinfo {
    display: flex;
    justify-content: center;
    height: auto;
    /* margin: 0 auto 100px auto; */
    background-color: none;
    width: 300px;
}

label {
    color: black;
}

input {
    color: black;
}

.paycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
}

.textarea {
    width: 77,6666%;
    height: 100%;
}

.contact {
    background-image: none;
}


button {
    text-decoration: none;
    color: white;
    background-color:rgb(11, 58, 64);
    width: 200px;
    padding: 20px;
    border-radius: 10px;
}

.inputfield {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}



/*Tablet*/

@media (min-width: 768px) {
    article {
        width: 100%;
        padding-bottom: 200px;
}

nav a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

body {
    background-image:url(/media/bakgrunn.jpg);
}

.products {
    background-image: none;
    background-color: darkgray;
}

.paragraph {
    max-width: 500px;
    margin: auto;
    padding-top: 40px;
}

p {
    color: white;
}


h1 {
    color:rgb(27, 95, 104);
}




.productimage {
    display: inline block;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    width: 75%;
    height: 100%;
    background-color: violet;
}

.productcontainer {
    display: flex;
    flex-wrap: nowrap;
}

.payinfo {
    display: flex;
    justify-content: center;
    height: auto;
    /* margin: 0 auto 100px auto; */
    background-color: none;
    width: 300px;
    padding: 20px;
}

.paycontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
}

input {
    width: 300px;
}

.checkout {
    background-image: none;
}

p {
    color:white;
}



}

/*Desktop*/

@media (min-width: 1000px) {

    footer {
        background-color: rgba(0, 0, 0, 0.658);
        display: flex;
        justify-content: center;
    }

    .paytextstyle {
        color: black;
    }


    


}



